.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    padding: 40px;
    color: white;
}

.app-header h2 {
    margin: 0
}

.app-body {
    color: #222;
    padding: 40px;
}

.app-body .inputoutput {

}

.app-body .inputoutput .input {

}

.app-body .inputoutput .input .uploader {
    width: 200px;
    height: 200px;
    border: 4px dashed #222;
    margin: 0 auto;
    background-color: transparent;
    background-image: url(./cloud-upload.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.app-body .inputoutput .input .uploader.uploaderactive {
    background-color: rgba(0, 0, 0, .1);
}

.app-body .inputoutput .output {
    margin-top: 40px;
}

.app-body .inputoutput .output .filename {
    margin-bottom: 20px;
}

.app-body .inputoutput .output table.spreadsheet {
    margin: 0 auto;
    border-collapse: collapse;
}

.app-body .inputoutput .output table.spreadsheet tr {

}

.app-body .inputoutput .output table.spreadsheet tr:first-child {
    background: #eee;
}

.app-body .inputoutput .output table.spreadsheet tr td {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}
